<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="clearfix">
    <button (click)="isCollapsed = !isCollapsed"
      class="navbar-toggler pull-xs-right hidden-sm-up" type="button"
      aria-controls="bd-main-nav"
      aria-label="Toggle navigation">
        {{menuIcon}}
    </button>
    <a (click)="isCollapsed = true" class="navbar-brand hidden-sm-up" [routerLink]="[brandMenu.path]">
      {{brandMenu.title}}
    </a>
  </div>
  <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav"
  [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
    <ul class="nav navbar-nav">
      <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active">
        <a class="navbar-brand hidden-xs-down" [routerLink]="[brandMenu.path]">{{brandMenu.title}}</a>
      </li>
      <li (click)="isCollapsed = true" *ngFor="let menuItem of menuItems"
        class="nav-item" routerLinkActive="active"
        [ngClass]="getMenuItemClasses(menuItem)">
        <a class="nav-item nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active">{{menuItem.title}}</a>
      </li>
    </ul>
  </div>
</nav>
